@tailwind base;
@tailwind components;
@tailwind utilities;

.marketing-landing-scale {
    zoom: 1.035;
}

@media (max-width: 1024px) {
    .marketing-landing-scale {
        zoom: 0.972;
    }
}

@keyframes scroll {

    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-33.333%);
    }
}